


.d_cutome_radio {position: relative;font-size: 14px;font-weight: 500;text-transform: capitalize;line-height: 3px;margin: 0;margin-right: 20px;vertical-align: text-top;}

.d_cutome_radio .radios {
    width: 16px;
    height: 16px;
}

.mrgin{
    margin-top: 23px;
    height: 42px;
    font-size: 16px;
}





